h1{
    color:#0f766e;
}

pre{
    background: white;
    padding: 15px;
    border-left: 5px solid #14b8a6;
    border-radius: 8px;
}


ul{
   margin: top 15px;
}
.card{
    background:#f8f8f8;
    padding:30px;
    border-radius:10px;
    width:650px;
}